<h1>New Orderform</h1>

<%= form_for :orderform, url: orderforms_path do |f| %>
	<p>
    <%= f.label :pw %><br>
    <%= f.text_field :pw %>
  </p>
  <p>
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :title_hk %><br>
    <%= f.text_field :title_hk %>
  </p>
  <p>
    <%= f.label :title_en %><br>
    <%= f.text_field :title_en %>
  </p>
  <p>
    <%= f.label :text_hk %><br>
    <%= f.text_area :text_hk %>
  </p>
  <p>
    <%= f.label :text_en %><br>
    <%= f.text_area :text_en %>
  </p>
  <p>
    <%= f.label :gid %><br>
    <%= f.text_field :gid %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>